<footer>
    <section class="container">
        <article class="row redes-sociales justify-content-center">
            <div class="col-auto">
                <a href="http://twitter.com/novasoft_col" class="">
                    <img src="assets/icons/Twitter-icon.png" class="imagen">
                </a>
                <a href="https://www.instagram.com/novasoftsascol/" class="icono instagram">
                    <img src="assets/icons/instagram-icon.png" class="imagen">
                </a>
                <a href="https://www.facebook.com/novasoft.colombia/" class="icono facebook">
                    <img src="assets/icons/facebook-icon.png" class="imagen">
                </a>
            </div>
        </article>
        <section class="container ">
            <article class="row mt-2 justify-content-center">
                <div class="col-auto">
                    <p class="mb-1">© 2020-2021 Novasoft SAS</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">Privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terminos y Condiciones</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Soporte</a>
                        </li>
                    </ul>
                </div>
            </article>

        </section>
    </section>
</footer>