<section>
    <section class="jumbotron bg-white text-center mb-0">
        <article class="container">
            <h1 class="display-4">Personajes Historicos</h1>
            <p class="lead text-muted">¿reconoces a estos personajes históricos? personajes, eminentes o perversos, de la historia universal, que abarcan un período de más de 3.000 años... ¿Sabes quiénes son?</p>
        </article>
    </section>

    <section class="container">
        <article class="row">
            <section class="col">
                <article class="card-group mt-3">
                    <article class="card">
                        <img src="assets/images/Vladimir_Lenin.jpg" class="card-image-top img-fluid" alt="">
                        <div class="card-body">
                            <h1 class="card-title">Lenin</h1>
                            <p class="card-text">Vladímir Ilich Uliánov o Vladimir Ilyich Lenin (en ruso Владимир Ильич Ульянов o Влади́мир Ильи́ч Ле́нин, romanización Vladimir Il'ič Ul'janov, pronunciación Acerca de este sonido [vlɐˈdʲimʲɪr ɪˈlʲitɕ ʊˈlʲanəf] (?·i)), alias
                                Lenina​
                            </p>
                            <button class="btn btn-primary btn-block">Ver</button>
                        </div>
                    </article>
                    <article class="card">
                        <img src="assets/images/Albert_Einstein_Head.jpg" class="card-image-top img-fluid" alt="">
                        <div class="card-body">
                            <h1 class="card-title">Einstein</h1>
                            <p class="card-text">Albert Einstein (alemán: /ˈalbɛɐ̯t ˈʔaɪnʃtaɪn/; Ulm, Imperio alemán; 14 de marzo de 1879 - Princeton, Estados Unidos; 18 de abril de 1955) fue un físico alemán de origen judío, nacionalizado después suizo, austriaco y estadounidense.</p>
                            <button class="btn btn-primary btn-block">Ver</button>
                        </div>
                    </article>

                    <article class="card">
                        <img src="assets/images/Weinglas.jpg" class="card-image-top img-fluid" alt="">
                        <div class="card-body">
                            <h1 class="card-title">John Falstaff</h1>
                            <p class="card-text">John Falstaff es un personaje de ficción creado por el dramaturgo inglés William Shakespeare. Su carácter festivo, cobardón, vanidoso y pendenciero ha sido inspiración para multitud de obras posteriores en la literatura, la
                                ópera y el cine.
                            </p>
                            <button class="btn btn-primary btn-block">Ver</button>
                        </div>

                    </article>
                </article>
            </section>
        </article>
    </section>
</section>