<section class="container pt-5">
    <div class="card py-2 px-4">
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" autofocus>

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" formControlName="password" type="password" class="form-control" id="password">
            </div>

            <button type="submit" [disabled]="!form.valid" (click)="login()" class=" btn btn-success ">                
                Ingresar
            </button>
        </form>

    </div>

</section>